<!DOCTYPE html>
<html>
<head>
	<title>Batalla</title>
</head>
<body>
	<h1>Bievenido a la batalla</h1>
		<%=session["tablero"][0] %><br>
		<%=session["tablero"][1] %><br>
		<%=session["tablero"][2] %><br>
		<%=session["tablero"][3] %><br>
		<%=session["tablero"][4] %><br>

</body>
</html>