<!DOCTYPE html>
<html>
<head>
	<title>Batalla</title>
</head>
<body>
	<h1>Bievenido a la batalla</h1>
	<h3>Mi tablero</h3>
	<div id="Barco1">
		<%=session["tablero"][0] %><br>
		<%=session["tablero"][1] %><br>
		<%=session["tablero"][2] %><br>
		<%=session["tablero"][3] %><br>
		<%=session["tablero"][4] %><br>
<<<<<<< HEAD
=======
	</div>
	<br>
	<h3>Rival</h3>
	<div id="Barco2">
		<%=session["tablero2"][0] %><br>
		<%=session["tablero2"][1] %><br>
		<%=session["tablero2"][2] %><br>
		<%=session["tablero2"][3] %><br>
		<%=session["tablero2"][4] %><br>
	</div>	
>>>>>>> ae5b939ba73a39adb15dcdbebf38b114f05c8c9b
</body>
</html>